.Editor {
  margin-right: 200px;
  margin-left: 50px;
}

.modified {
  border: 2px solid #EF7A85;
}

.Editor button {
  width: 350px;
  height: 35px;
  font-size: 24px;
  padding: 0;
  box-shadow: 3px 3px 1px #888888;
  outline: 0;
  color: white;
}
.Editor form {
  display: flex;
  flex-direction: column;
}

.Editor button:active {
  box-shadow: 0px 0px 0px #888888;
}
