.ExpressionForm {
}

.expression-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.expression-input {
  margin: 10px;
  height: 30px;
  width: 200px;
  text-align: center;
  font-size: 18px;
}

.expression-btn {
  margin: 10px;
  height: 35px;
  width: 100px;
  font-size: 24px;
  padding: 0;
  box-shadow: 3px 3px 1px #888888;
  outline: 0;
  color: white;
}

.expression-btn:active {
  box-shadow: 0px 0px 0px #888888;
}

.evaluatedStr {
  margin: 10px;
  height: 30px;
  text-align: center;
  font-size: 18px;
}
