.App {
  text-align: center;
  vertical-align: middle;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #FFC2E2;
}

h2 {
  font-size: 18px;
  animation-duration: 3s;
}

.App-title {
  font-size: 28px;
  margin: 0px;
}

.letter0 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: acronym0;
}

.letter1 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: acronym1;
}

.letter2 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: acronym2;
}

@keyframes acronym0 {
  0% {
    color: white;
  }
  33% {
    color: #EF7A85;
  }
  67% {
    color: white;
  }
  100% {
    color: white;
  }
}

@keyframes acronym1 {
  0% {
    color: white;
  }
  33% {
    color: white;
  }
  67% {
    color: #EF7A85;
  }
  100% {
    color: white;
  }
}

@keyframes acronym2 {
  0% {
    color: white;
  }
  33% {
    color: white;
  }
  67% {
    color: white;
  }
  100% {
    color: #EF7A85;
  }
}
